.characterList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.character{
  display: flex;
}

.character-episode {
  margin-top: 2rem;
}

.character-content{
  margin-left: 2rem;
}